extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') Database-Project
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Site
            li
              a(href='about') About
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='#')
                    font(class="text-primary") | Home &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;' class="text-primary")
                li
                  a(href='account_std')
                    | Account &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
                li
                  a(href='grade_std')
                    | Grade &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-education(style='font-size:16px;')
                li
                  a(href='enroll_std')
                    | Enrollment &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-list-alt(style='font-size:16px;')
                li
                  a(href='activity_std')
                    | Activities &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-time(style='font-size:16px;')
                li
                  a(href='intern_std')
                    | Internship &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-usd(style='font-size:16px;')
                li
                  a(href='search_std')
                    | Search &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-search(style='font-size:16px;')
                li
                  a(href='index')
                    | Logout &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
        .col-sm-10
          .container-fluid
            h1 Welcome back Student!
            br
            | Please select menu on navigation stack at the left.
            br
            br
            br
            br
            br
            br
            .row
              h4 Student Status Information
              button.btn.btn-lg.btn-muted(type='button') Prohibited
              | &nbsp; &nbsp;
              button.btn.btn-lg.btn-muted(type='button') Study Abroad
              | &nbsp; &nbsp;
              button.btn.btn-lg.btn-muted(type='button') Leave
              | &nbsp; &nbsp;
              button.btn.btn-lg.btn-primary(type='button') Interned
              | &nbsp; &nbsp;
              button.btn.btn-lg.btn-muted(type='button') Graduated
            br
            .row
              .col-sm-2(align="center")
                h4 GPAX
                button.btn.btn-lg.btn-success(type='button') 3.14
              .col-sm-2(align="center")
                h4 GPA
                button.btn.btn-lg.btn-success(type='button') 3.60
              .col-sm-3(align="center")
                h4 Incoming
                button.btn.btn-lg.btn-danger(type='button') Final



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src=`${pathToAssets}/dist/js/bootstrap.min.js`)
