extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    link(href='/css/extends/stickynote.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Site
              li
                a(href='about') About
        .col-sm-4
        .col-sm-2
          .col-sm-2
          .col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='#') #{user_val}
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='#')
                    font(class="text-primary") | Home &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;' class="text-primary")
                li
                  a(href='profile_staff')
                    | Profile &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
                li
                  a(href='upload_staff')
                    | Upload &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cloud-upload(style='font-size:16px;')
                li
                  a(href='download_staff')
                    | Download &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cloud-download(style='font-size:16px;')
                li
                  a(href='monitor_staff')
                    | Monitor &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-stats(style='font-size:16px;')
                li
                  a(href='search_staff')
                    | Search &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-search(style='font-size:16px;')
                li
                  a(href='/logout')
                    | Logout &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
        .col-sm-6
          .container-fluid
            h1 Welcome back! <font class="text-primary">Staff</font>
            br
            br
            | Please select menu on navigation stack at the left side.
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            .row
              .col-sm-3(align="center")
                h4 Faculty
                button.btn.btn-md.btn-default(type='button') Engineering
              .col-sm-3(align="center")
                h4 Department
                button.btn.btn-md.btn-default(type='button') Computer
              .col-sm-1
              .col-sm-4(align="center")
                h4 Position
                button.btn.btn-md.btn-default(type='button') Web Administrator
        .col-sm-4
          .formholder
            .randompad
              br
              h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Countdown 
              span.glyphicon.glyphicon-hourglass(style='font-size:50px;')
              br
              br
              .row
                .col-sm-6(align="center")
                  h4 Final Exam.
                  button.btn.btn-md.btn-warning(type='button') 23
                .col-sm-6(align="center")
                  h4 CU-CAS
                  button.btn.btn-md.btn-warning(type='button') 31
              br            
              .row
                .col-sm-6(align="center")
                  h4 Midterm Exam.
                  button.btn.btn-md.btn-danger(type='button') OVER
                .col-sm-6(align="center")
                  h4 Withdraw Period
                  button.btn.btn-md.btn-danger(type='button') OVER  
              br
              .row
                .col-sm-6(align="center")
                  h4 Intern Book
                  button.btn.btn-md.btn-danger(type='button') OVER
                .col-sm-6(align="center")
                  h4 Graduated Req.
                  button.btn.btn-md.btn-danger(type='button') OVER
            



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="js/bootstrap.min.js")
